{
  "presets": ["react"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["> 1%", "not ie < 12"]
            },
            "modules": false
            // Find out which polyfills would be required with debug:true
            // "useBuiltIns": true,
            // "debug": true
          }
        ]
      ],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    }
  }
}
